// Normalize
@import '~normalize.css';

// Fonts
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,200,600,700);
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,300);

// Bourbon and Neat
@import '~bourbon/app/assets/stylesheets/bourbon';
@import '~bourbon-neat';

// Variables
@import './variables';

// Mixins
@import './mixins';

// Forms
@import './forms';

// Main Styling
html {
  height: 100%;
}

body {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: $base-font-size;
  margin: 0;
  height: 100%;
}

div#react {
  height: 100%;
}

div.container {
  width: 100%;
  height: 100%;
  color: #000;
}

// Page Specific
@import './home';
