// Inputs
input {
  color: #000;
  border: solid 1px #fff;
}

// Buttons
button {
  color: #fff;
  border: none;

  &:disabled {
    background-color: grey !important;
    cursor: not-allowed;
  }
}

// Labels
label {
  font-weight: 300;
  letter-spacing: 0.03em;
}

div.input-group {
  display: inline-block;
  line-height: 1em;

  &.login {
    vertical-align: middle;
  }

  label {
    display: block;
    margin-bottom: 3px;
  }

  input {
    display: block;
  }
}
